* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #585760;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

html {
  font-size: 62.5%;
}
.main {
  margin: 1.2em;
  background-color: #f8eddd;
  padding: 0 10rem;
  font-family: "Piazzolla", serif;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 4rem;
}
h4 {
  font-size: 2.2rem;
}
p {
  font-size: 2rem;
}
li {
  font-size: 1.6rem;
}

/* header */
.nav-container {
  top: 1rem;
}
h1 {
  cursor: pointer;
}
a {
  text-decoration: none;
  font-size: 2.8rem;
}
nav {
  padding: 4rem;
}
nav h1 {
  float: left;
}
nav ul {
  float: right;
  list-style: none;
}
nav li {
  float: left;
  margin: 0rem 4rem;
}
nav li a {
  font-size: 1.8rem;
}
nav a:hover {
  color: #987284;
}

/* container-text */
.container-text {
  padding: 10rem 14rem;
  font-family: "Piazzolla", serif;
}
.container-text h2 {
  font-size: 2rem;
  font-family: "Permanent Marker", cursive;
  color: #807e8b;
}
.container-text p {
  width: 60%;
  font-size: 4rem;
}

/* container */
.container {
  display: flex;
  justify-content: center;
  padding: 3rem 5rem;
}
.image {
  padding: 4em 0 4em 4em;
  width: 50%;
}
.image img {
  width: 100%;
}
.text {
  flex: 1;
  padding: 1em;
  margin-top: 8em;
}
.text span {
  margin-left: -4rem;
  font-size: 1.6rem;
}

.text-reverse span {
  margin-right: -7rem;
  font-size: 1.6rem;
}

.text h2 {
  margin-left: -4.5rem;
  font-size: 4.2rem;
}
.text p {
  margin-top: 2rem;
  font-size: 1.6rem;
}

/* container-reverse */
.container-reverse {
  display: flex;
  justify-content: center;
  padding: 3rem 5rem;
}
.image-reverse {
  padding: 4em 4em 0 4em;
  width: 50%;
}
.image-reverse img {
  width: 100%;
}
.text-reverse {
  flex: 1;
  padding: 1em;
  margin-top: 8em;
  text-align: right;
  z-index: 2;
}
.text-reverse h2 {
  margin-right: -7rem;
  font-size: 4.2rem;
}
.text-reverse p {
  margin: 2rem -1rem 0 0;
  font-size: 1.6rem;
}

/* ABOUT */

/* container-about */
.container-about {
  display: flex;
  justify-content: center;
  padding: 3rem 15rem;
}

.container-about h2 {
  font-size: 4rem;
  font-family: "Permanent Marker", cursive;
  color: #807e8b;
}

.experience h2 {
  font-size: 4rem;
  font-family: "Piazzolla", serif;
  color: #807e8b;
}

.image-about {
  padding: 4em 0 4em 4em;
  width: 60%;
  flex: 1;
}
.image-about img {
  width: 100%;
}
.text-about {
  flex: 2;
  padding: 2em;
  margin-top: 27em;
}
.text-about p {
  margin-top: 2rem;
  font-size: 1.8rem;
  font-family: "Piazzolla", serif;
}

.text-about a {
  font-size: 2rem;
}

.text-about h2 {
  margin-top: 2rem;
}

/* experience */
.experience {
  text-align: center;
  margin: 10rem 0;
  padding: 3rem 15rem;
  font-size: 1.8rem;
}

/* 몸통 고치려면 여기서 하쇼 */
.timeline {
  background: #f8eddd;
  border-left: 5px solid #987284;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.1 em;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 60%;
  font-family: "Piazzolla", serif;
  font-size: 1.2rem;
}
.event h3 {
  font-size: 2.3rem;
  font-weight: 900;
}

/* 하얀 점선 고치려면 여기서 하쇼 */
.event {
  border-bottom: 1px dashed #987284;
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

/* 왼쪽꺼 고치려면 여기서 하쇼 */
.event::before {
  position: absolute;
  display: block;
  top: 0;
  left: -210px;
  color: #987284;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 3 em;
  min-width: 120px;
}

.event::after {
  position: absolute;
  display: block;
  top: 0;
  box-shadow: 0 0 0 4px #987284;
  left: -57.85px;
  background: #fcf7e3;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

/* skills */
.skills {
  margin: 10rem 20rem;
}
.skills h2 {
  text-align: center;
  font-family: "Piazzolla", serif;
  color: #807e8b;
}

.skills li {
  margin-bottom: 0.5rem;
  margin-left: 3rem;
  font-family: "Piazzolla", serif;
}

/* drawings */
.drawings {
  margin: 10rem 20rem 0 20rem;
  padding-bottom: 10rem;
  font-family: "Piazzolla", serif;
  color: #807e8b;
}
.drawings h2 {
  text-align: center;
  font-family: "Piazzolla", serif;
  color: #807e8b;
}
.row {
  display: flex;
}
.grid {
  flex: 1;
  margin: 1rem;
}
.grid img {
  margin: 1rem;
}

/* Education */
.content {
  margin: 10rem 20rem;
}

.content2 {
  margin: 10rem 10rem;
}

.content-container {
  margin: 5rem 0;
}

.content-container a {
  font-size: 2rem;
  font-style: italic;
}

.next {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
}
.next a {
  margin: 3rem;
  font-family: "Piazzolla", serif;
}

.next a:hover {
  color: #987284;
}
.nexttop {
  text-align: center;
  margin-bottom: -5rem;
  margin-left: -15rem;
}
.nexttop a {
  margin: 1.2rem;
  font-family: "Piazzolla", serif;
  font-size: 0.8em;
}

.nexttop a:hover {
  color: #987284;
}

.role {
  display: flex;
}

.description {
  flex: 1.7;
  margin: 1rem;
}

.index {
  flex: 1;
  margin: 1rem;
}

.role h4 {
  margin: 0 0 2rem 0;
}

.left-content {
  display: flex;
}
.left-content div {
  flex: 1;
  margin: 1rem;
}
.left-content h4 {
  margin: 2rem 0;
}
.right-content {
  display: flex;
}
.right-content div {
  flex: 1;
  margin: 1rem;
}
.right-content h4 {
  margin: 2rem 0;
}
.imgs {
  display: flex;
}
.imgs div {
  flex: 1;
  margin: 1rem;
  text-align: center;
}
.second-img {
  margin-top: 10rem;
}
.imgs span {
  font-size: 1.4rem;
  color: red;
}
.img-right img {
  margin-top: 20rem;
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

.img-right {
  width: 200px;
  text-align: center;
  display: block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float: left;
}

.bigimg {
  min-width: 90%;
  margin-left: calc(13%);
  image-rendering: -webkit-optimize-contrast;
}

.content {
  font-family: "David Libre", serif;
}

.content-container h1 {
  text-align: center;
  font-size: 6em;
  font-family: "David Libre", serif;
  margin-bottom: 0.5em;
}

.content-container h2 {
  font-size: 8em;
  font-family: "Montserrat", sans-serif;
}

.right h2 {
  text-align: right;
  font-size: 8em;
  font-family: "Montserrat", sans-serif;
}

.content-container h3 {
  font-size: 4em;
  font-family: "David Libre", serif;
}

.content-container p {
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
}

.hero p {
  text-align: center;
  margin: 0 auto;
}

.hero img {
  display: block;
  margin: 0 auto;
}

.right-content h3 {
  text-align: right;
}

.middle h2 {
  text-align: center;
  margin: 15rem 0;
}

.middle h3 {
  text-align: center;
  margin: 1em 0;
}

.ending h3 {
  text-align: center;
}

.middle h4 {
  text-align: center;
}

.ending h4 {
  text-align: center;
}

.middle a {
  font-size: 2rem;
  font-style: italic;
}

/* step */
.step {
  display: flex;
  justify-content: center;
  margin: 10rem 0 12rem 0;
}
.step p {
  font-size: 4rem;
}
.step2 p {
  font-size: 4rem;
  color: #f8eddd;
}

.step3 p {
  font-size: 4rem;
  color: #f8eddd;
}

.step4 p {
  font-size: 4rem;
  color: #f8eddd;
}

.step div {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0 -2rem;
}
.step div:nth-child(1) {
  border: 10px solid #585760;
}
.step div:nth-child(2) {
  background-color: #987284;
}
.step div:nth-child(3) {
  background-color: #606d5d;
}
.step div:nth-child(4) {
  background-color: #f9b98b;
}
